*{
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: verdana;
}
  
body {
    margin: auto;
    text-align: center;
    background: #201e35;
}
  
.block {
    position: relative;
    overflow: hidden;
}
  
h1 {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}
    
h1::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2a4dc7;
    transform: translateX(-100%);
    animation: layIn 0.8s 0s, layOut 0.8s 0.8s;
    animation-fill-mode: both;
}
  
@keyframes layIn {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
  
@keyframes layOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(110%);
    }
}
